* {
    border: none;
    font-family: "VT323", "Terminus", monospace;
    font-size: 18px;
    font-weight: bold;
    color: #1fff0f;
    text-shadow: 0 0 8px #1fff0f;
}

window#waybar {
    background: rgba(2, 10, 2, 0.95); /* عتامة 95% - سواد فخم وثقيل */
    border: 2px solid #1fff0f;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(31, 255, 15, 0.3);
}

/* --- الصفحة الحالية باللون الذهبي الناري --- */
#workspaces button.active {
    background: rgba(255, 204, 0, 0.1);
    color: #ffcc00; 
    text-shadow: 0 0 15px #ffcc00, 0 0 25px #ffcc00;
    border-bottom: 3px solid #ffcc00;
}

#workspaces button {
    color: #1fff0f;
    padding: 0 12px;
}

#mpris {
    padding: 0 20px;
}

#taskbar button { padding: 0 10px; border-bottom: 2px solid transparent; }
#taskbar button.active { border-bottom: 2px solid #1fff0f; background: rgba(31, 255, 15, 0.1); }

#clock, #cpu, #memory, #disk, #battery, #pulseaudio, #network, #custom-launcher {
    padding: 0 12px;
}

/* تأثير خطوط المسح النووية */
window#waybar {
    background-image: linear-gradient(0deg, rgba(31, 255, 15, 0.05) 50%, transparent 50%);
    background-size: 100% 3px;
}
